/* ex 1 */

.ex-1-square {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  transition: background-color 1s;
}

.ex-1-square:hover {
  background-color: red;
}

/*2th block*/
.ex-2-square {
  width: 100px;
  height: 100px;
  background: red;
}

.ex-2-square {
  transition: 2s;
}
.ex-2-square:active {
  width: 100%;
}

/*3th block*/
.ex-3-square {
  width: 100px;
  height: 100px;
  background: red;
}

.ex-3-square {
  transition: 1s;
}
.ex-3-square:hover {
  border-radius: 100%;
}

/*4th block*/
.ex-4-square {
  width: 100px;
  height: 100px;
  background: red;
}

.ex-4-square {
  transition: 1s;
}
.ex-4-square:hover {
  opacity: 0;
}

/*5th block*/
.ex-5-square {
  margin: 20px;
  width: 60px;
  height: 60px;
  background: red;
}

.ex-5-square {
  transition: 1s;
}
.ex-5-square:hover {
  transform: scale(2);
}
.ex-5-square:active {
  transform: scale(0.5);
}

.ex-6-img,
.ex-7-img,
.ex-8-img {
  width: 500px;
}

/*6th block*/
.ex-6-img:hover {
  filter: grayscale(1);
}

/*7th block*/
.ex-7-img {
  transition: 2s;
}
.ex-7-img:hover {
  filter: grayscale(0.6) sepia(0.5);
}

/*8th block*/
.ex-8-img {
  transition: 2s;
}
.ex-8-img:hover {
  filter: grayscale(0.7) sepia(0.4);
  border-radius: 30px;
}
/*9th block*/
.ex-9-img {
  margin: 50px 100px;
  width: 400px;
}

.ex-9-img {
  transition: 2s;
}

.ex-9-img:hover {
  filter: grayscale(0.5) sepia(0.7);
  border-radius: 30px;
  transform: scale(1.5);
}

/*10th block*/
.ex-10-icon {
  font-size: 60px;
}

.ex-10-icon {
  animation: spin 1s linear infinite;
  animation-duration: 5000ms;
}
@keyframes spin {
  0% {
    transform: rotate(1turn);
  }
}

/*11th block*/
.ex-11-icon {
  font-size: 60px;
}

.ex-11-icon:hover {
  animation: shortRotate 2s linear;
}
@keyframes shortRotate {
  0% {
    transform: rotate(0);
  }
  90% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(0);
  }
}
/*12th and 13th block*/
.ex-12-button,
.ex-13-button {
  position: relative;
  display: block;
  width: 200px;
  height: 70px;
  text-transform: uppercase;
  border: 3px solid #1b3c59;
  color: #1b3c59;
  font-size: 20px;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
}
.ex-12-top-white,
.ex-13-top-white {
  position: absolute;
  top: -10px;
  left: 10%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}
.ex-12-bottom-white,
.ex-13-bottom-white {
  position: absolute;
  bottom: -10px;
  right: 20%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}

/*12th block style*/ /*da capire bene*/
.ex-12-button:hover .ex-12-top-white {
  animation: top-block 2s linear;
}
@keyframes top-block {
  0% {
    left: 10%;
  }
  50% {
    left: calc(100% - 60px);
  }
  100% {
    left: 10%;
  }
}
.ex-12-button:hover .ex-12-bottom-white {
  animation: bottom-block 2s linear;
}
@keyframes bottom-block {
  0% {
    right: 20%;
  }
  50% {
    right: calc(100% - 60px);
  }
  100% {
    right: 20%;
  }
}

/*13th block*/ /*da capire bene*/
.ex-13-button:hover .ex-13-top-white {
  animation: top-block-rotation 5s linear infinite;
}
@keyframes top-block-rotation {
  0% {
    left: 10%;
    top: -10px;
  }
  30% {
    left: calc(100% - 30px);
    top: -10px;
  }
  45% {
    left: calc(100% - 30px);
    top: 100%;
  }
  75% {
    left: 0;
    top: 100%;
  }
  90% {
    left: -15px;
    top: -10px;
  }
  100% {
    left: 10%;
    top: -10px;
  }
}
.ex-13-button:hover .ex-13-bottom-white {
  animation: bottom-block-rotation 5s linear infinite;
}
@keyframes bottom-block-rotation {
  0% {
    bottom: -10px;
    right: 20%;
  }
  30% {
    right: calc(100% - 30px);
    bottom: -10px;
  }
  45% {
    right: calc(100% - 30px);
    bottom: 100%;
  }
  75% {
    right: 0;
    bottom: 100%;
  }
  90% {
    right: -15px;
    bottom: -10px;
  }
  100% {
    bottom: -10px;
    right: 20%;
  }
}
